# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
.venv/
.vscode/
dbt_packages/
logs/
target/

package-lock.yml

!sample_IB_files.zip    # do not ignore the zip
sample_IB_files/        # ignore the unzipped files